<tr>                        
  <td><%= line_items.product.title %></td>
  <td>$<%= line_items.product.price %></td>
  <td><%= line_items.quantity %></td>
  <td>$<%= line_items.quantity * line_items.product.price %></td>
</tr>
