<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <h2> Orders Listing </h2>
            </div>
          <hr></hr>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone no</th>
                <th scope="col">Quantity</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Type</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'orders', collection: @orders, as: :order %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
