<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
        <%= link_to "Users" , admin_users_path %>
    </li>
    <li class="sidebar-brand">
        <%= link_to "Invite User" , new_admin_user_path %>
    </li>
  </ul>
</div>
