<div class="row">
<b>Hi, <%= @user.first_name %></b>	
</div>
<div class="row">
	<div class="card">
  <div class="card-body">
<p> To access your portal account, please take a note of the following username or password.  </p>
<h6>Email : </h6>
<b><%= @user.email %></b>
<p>Password is <%= @password %></p>
<p>After you successfully login with your temporary password, you will be redirected to a screen to change your password to something you will be remember</p>
<b>Thank you, and welcome to the Bentmark portal</b>

    
  </div>
</div>
</div>
